<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}base title{% endblock %}</title>
</head>

<body>
    {% block content %}
    Base Content
    {% endblock %}

    {% if get_flashed_messages() %}
    {% block flashed_messages%}
    <ul>
        {% for msg in get_flashed_messages() %}
        <li>{{msg}}</li>
        {% endfor %}
    </ul>
    {% endblock %}
    {% endif %}
</body>

</html>