{% extends 'base.html' %}
{% block title %}
{{post.title}}
{% endblock %}

{% block content %}

<h1>{{post.title}}</h1>
<h3>{{post.content}}</h3>
<h3>By <a href="/users/{{post.creator.id}}">{{post.creator.full_name()}}</a></h3>

<div class="tag-line">
    <span class="tag-header">Tags!</span>
    {% for tag in post.tags %}
    <span class="tag"><a href="/tags/{{tag.id}}">{{tag.name}}</a></span>
    {% endfor %}
</div>

<div>
    <a href="/">GO HOME</a>
    <a href="/posts/{{post.id}}/edit">EDIT POST</a>
    <a href="/posts/{{post.id}}/delete">DELETE POST</a>
</div>


{% endblock %}